$primary-color: #000000;
$secondary-color: #E2211C;
$border-color: #EAEAEA;
$txt-primary-color: #000000;
$txt-gray-color: #7A7A7A;
$body-bgc: #F4F4F4;
$white: #FFFFFF;
$header-bgc-color: #FFFFFF;
$gray-2: rgba(0, 0, 0, 0.5);
$gray-1: #7A7A7A;
$left-menu-selected-bgc: #000000;